<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Serramenti</key>
	<array/>
	<key>Vernici</key>
	<array>
		<string>Opache</string>
		<string>Lucide</string>
	</array>
	<key>Pavimenti</key>
	<array>
		<string>Legno</string>
		<string>Piastrelle</string>
	</array>
</dict>
</plist>
